.header {
    background-color: aquamarine;
    grid-area: h;

    /*display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "lo te";*/
}

.header img{
    width: 150px;
    height: 150px;
    /*grid-area: lo;*/
}

.loginBlock {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

.loginBlock a {
    color: white;
    font-size: larger;   
}