.header {
    background-color: aquamarine;
    grid-area: h;

    /*display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "lo te";*/
}

.header img{
    width: 150px;
    height: 150px;
    /*grid-area: lo;*/
}

/*.header_text{
    text-transform: capitalize;
    color: cornsilk;
    grid-area: te;
}*/