.app {
    width: 1200px;
    height: 900px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 150px 1050px;
    grid-template-rows: 150px auto;
    grid-row-gap: 20px;

    grid-template-areas: 
    "h h"
    "s c";

}
