.dialogs {
    display: grid;
    grid-template-columns: 3fr 7fr;
}

.messageItems {
    padding-left: 20px;
    margin-top: 15px;
}

.messages .textarea {
    padding-left: 20px;
    margin-top: 20px;
}

.messages .sendbutton {
    padding-left: 20px;
}